[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

!/[Aa]ssets/**/*.meta

[Aa]ssets/Plugins/Editor/JetBrains*

.vs/

.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app

crashlytics-build.properties

[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*

[Aa]ssets/**/*.asset
[Aa]ssets/**/*.prefab
[Aa]ssets/**/*.unity
[Aa]ssets/**/*.png
[Aa]ssets/**/*.jpg
[Aa]ssets/**/*.jpeg
[Aa]ssets/**/*.gif
[Aa]ssets/**/*.bmp
[Aa]ssets/**/*.tga
[Aa]ssets/**/*.tiff
[Aa]ssets/**/*.psd
!Assets/Sprites/**/*.png
!Assets/Sprites/**/*.jpg
!Assets/Sprites/**/*.jpeg
!Assets/Sprites/**/*.gif
!Assets/Sprites/**/*.bmp
!Assets/Sprites/**/*.tga
!Assets/Sprites/**/*.tiff
!Assets/Sprites/**/*.psd
[Aa]ssets/**/*.mat
[Aa]ssets/**/*.shader
[Aa]ssets/**/*.controller
[Aa]ssets/**/*.anim
[Aa]ssets/**/*.fbx
[Aa]ssets/**/*.obj
[Aa]ssets/**/*.mesh
[Aa]ssets/**/*.spriteatlas
[Aa]ssets/**/*.spriteatlasv2
[Aa]ssets/**/*.tilemap
[Aa]ssets/**/*.tile

!Assets/Game/**/*.asset
!Assets/Scenes/**/*.unity
!Assets/**/*.inputactions

[Aa]ssets/**/*.asset.meta
[Aa]ssets/**/*.prefab.meta
[Aa]ssets/**/*.unity.meta
[Aa]ssets/**/*.png.meta
[Aa]ssets/**/*.jpg.meta
[Aa]ssets/**/*.jpeg.meta
[Aa]ssets/**/*.gif.meta
[Aa]ssets/**/*.bmp.meta
[Aa]ssets/**/*.tga.meta
[Aa]ssets/**/*.tiff.meta
[Aa]ssets/**/*.psd.meta
[Aa]ssets/**/*.mat.meta
[Aa]ssets/**/*.shader.meta
[Aa]ssets/**/*.controller.meta
[Aa]ssets/**/*.anim.meta
[Aa]ssets/**/*.fbx.meta
[Aa]ssets/**/*.obj.meta
[Aa]ssets/**/*.mesh.meta
[Aa]ssets/**/*.spriteatlas.meta
[Aa]ssets/**/*.spriteatlasv2.meta
[Aa]ssets/**/*.tilemap.meta
[Aa]ssets/**/*.tile.meta

!Assets/Game/**/*.asset.meta
!Assets/Scenes/**/*.unity.meta
!Assets/**/*.inputactions.meta

!Assets/Scripts/**/*.cs